body, html
{
	margin: 0px;
	height: 95%;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	/*background-image:url('img/PlantEKG-Landing-Page.png');*/
	    background: no-repeat fixed 100% 100%;

/*	background: #000 url('img/PlantEKG-Landing-Page.png') center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;*/
}
/*html { 
    background: url('img/PlantEKG-Landing-Page.png')
        no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
#title
{
	color: yellow;
	/*height: 15%;*/
	font-weight: bold;
	background: green;
}

/*.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5000;
}*/

#background
{
	position: asbolute; z-index: -1;
    background: no-repeat fixed 100% 100%;
}
